<!doctype html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>

<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-form">
                    <h2 align="center">Prisijungimo puslapis</h2>
                    <form action="{% url 'accounts:login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label style="margin-top:15px;">Prisijungimo vardas</label>
                            <input id="username" name="username" type="text" class="form-control" placeholder="vardas">
                            <label style="margin-top:15px;">Slaptažodis</label>
                            <input id="password" name="password" type="password" class="form-control" placeholder="slaptažodis">
                        </div>
                        <button type="submit" class="btn btn-primary btn-flat m-b-15">Prisijungti</button>
                        
                        {% if login_failed %}
                        <p style="color:#922222; margin-top:10px;">Prisijungimo klaida! Bandykite dar kartą</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
